<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ status_code }}</title>

  <link rel="icon" type="image/svg+xml" href="{{ asset_prefix }}{{ static_url('favicon.svg') }}">
  <link rel="stylesheet" href="{{ asset_prefix }}{{ static_url('css/app.css') }}">

  <link rel="stylesheet" href="{{ static_url('css/error.css') }}">
</head>

<body>
  <div class="error-code {% if status_code >= 500 %}is-server{% endif %}">{{ status_code }}</div>
</body>
</html>
